
body {
	background-image: url('background.png');
	background-size: cover;
	background-position: 0px -250px;
}

.wrapper {
	margin: 20em auto 2em auto;
	width:80%;
	position:relative;
}

.robot {

	animation-name: slide;
	animation-duration: 2s;
	/* Ease-in starts off a little bit slow, then speeds up */
	animation-timing-function: ease-in;
	animation-iteration-count: 1;

}

/* You need to name your animation so you can assign it somewhere */
@keyframes slide {

	from {transform: translateX(0);}
	to {transform: translateX(900px);}

}