
body {
	background-image: url('background.png');
	background-size: cover;
	background-position: 0px -250px;
}

.wrapper {
	margin: 20em auto 2em auto;
	width:80%;
	position:relative;
}

.robot {

	animation-name: slide;
	animation-direction: alternate;
	animation-duration: 3s;
	animation-timing-function: cubic-bezier(.02, .86, .97, .43);
	animation-iteration-count: 4;
	animation-fill-mode: forwards;

}

/* You need to name your animation so you can assign it somewhere */
@keyframes slide {

	0% {
		transform: translate(0, 0);
	}
	20% {
		transform: translate(100px, -200px);
	}
	50% {
		transform: translate(150px, -100px);
	}
	60% {
		transform: translate(300px, 0);
	}
	75% {
		transform: translate(600px, 300px);
	}
	100% {
		transform: translate(900px, 0);
	}

}